# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GIT\bounswe2020group3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
